body {
    font-family:Roboto;
    background-color: white;
    color: #469EB0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Playfair Display";
    text-align:center;
    font-size: 55px;
}

h2{ 
    margin:.1em;
}

h1{
    font-size:40pt;
    margin:.1rem;
}

header {
    text-align:center; 
}

#hero,footer {
    background-color: #463F39;
    border:2px solid #25CCEF;
    text-align:center;
    padding:10px; 
}

/*Hero Section*/

#hero img {
    width:300px;
}

/*Bio Section*/

#bio {
    text-align:center;
}

/*Gallery*/
#gallery{
    border: 6px dashed #25CCEF;
}

#gallery img{
    max-width:100%;
    border: 3px solid #25CCEF;
    box-shadow: 6px 6px 6px black;
}

#gallery figure{
    text-align: center;
    margin-bottom: 1rem;
}

/*Literature*/
#lit div p:first-child:first-letter{
    color: #f08224;;
    font-size:5rem;
    line-height: .65;
    border: 3px solid #25CCEF;
    margin-right: 5px;
    float:left;
    padding:.20em;
    font-family:"Playfair Display";
    box-shadow:2px 2px 2px black;
    border-bottom-left-radius: .5em;
    border-top-right-radius: .5em;

}

#lit{
    border: 6px dashed #25CCEF;
    margin-bottom:2rem;
}

#lit div{
    padding:2rem;
    max-width:50rem;
    margin:0 auto;
}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
figure img{
    width: 100%;
} */

/*Tablet Size */
@media screen and (min-width: 60em){
    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 1 rem;
}

#lit div{
    max-width: 80%;
    columns: 20rem;
}

#myVideo{
    text-align:center;
    border-left: 6px dashed #25CCEF;
    border-right: 6px dashed #25CCEF;
    margin-top: 15px;
    margin-bottom: 15px;
}

iframe{
    border: 7px double white;
    border-bottom-left-radius: .5em;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    border-bottom-right-radius: .5em;
    max-width:100%;
    height:auto;
}

/* Large Screen Size */
@media screen and (min-width:100em){
    #gallery{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    hr{
        display:none;
    }

    #gallery h2{
        grid-column: 1/-1;
    }

    figure{
        display: block;
    }      

}

/*Contact Form*/
#formElements{
    display: grid;
    row-gap:.5em;
}

#contact{
    padding: 1rem;
    max-width:600px;
    margin: 2rem auto;
}

fieldset{
    border: 3px solid #25CCEF;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
    box-shadow:5px 5px 5px #636E70;
    color: white;
}

legend{
    background-color: #25CCEF;
    color: white;
    padding:.5em;
    box-shadow:3px 3px 3px white;
}

#contact input, #contact textarea, #contact select, #contact button{
    padding:.5em;
    font-size: 1rem;
}

#contact ul{
    list-style:none;
    padding:0px;
}

#contact li{
    margin:1rem;
}

#contact button{
    background-color: #25CCEF;
    color: white;
    border-radius: 2rem;
    border:1px solid #469EB0;
    max-width: 400px;
    width: 50%;
    justify-self: center;
    font-weight:bold;
}